@model IEnumerable<BachHoaXanh.Data.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal PriceNow = 0;
    int Count = 0;
}
<!---==============================CART=============================---->
<!-- //here ends scrolling icon -->
<script src="~/Content/js/minicart.js"></script>

<script type='text/javascript' src="~/Content/js/jquery.mycart.js"></script>
@*<script type="text/javascript">
        function AddTocart(item) {
            var itemId = $(item).attr("itemid");
            var formData = new FormData();
            formData.append("ItemId", itemId);

            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Products/Index',


            })
        }



        $(function () {

            var goToCartIcon = function ($addTocartBtn) {
                var $cartIcon = $(".my-cart-icon");
                var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
                $addTocartBtn.prepend($image);
                var position = $cartIcon.position();
                $image.animate({
                    top: position.top,
                    left: position.left,
                    bottom: position.bottom,
                    right: position.right
                }, 500, "linear", function () {
                    $image.remove();
                });
            }

            $('.my-cart-btn').myCart({
                classCartIcon: 'my-cart-icon',
                classCartBadge: 'my-cart-badge',
                affixCartIcon: true,
                checkoutCart: function (products) {
                    $.each(products, function () {
                        console.log(this);
                    });
                },
                clickOnAddToCart: function ($addTocart) {
                    goToCartIcon($addTocart);
                },
                getDiscountPrice: function (products) {
                    var total = 0;
                    $.each(products, function () {
                        total += this.quantity * this.price;
                    });
                    return total * 1;
                }
            });

        });
    </script>
    <link href="~/Content/css/style.css" rel="stylesheet" />*@

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*
@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.Id)
    <!--<td>
        @Html.DisplayFor(modelItem => item.Provider.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Discount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>-->
@Html.Partial("ProductSummary", item);*@
<!--}-->
<ul id="myTab" class="nav1 nav1-tabs left-tab" role="tablist">
    <ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><img src="images/menu1.png"></a></li>
        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img src="images/menu.png"></a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
            @foreach (var item in Model)
            {
                <div class="product-tab">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="@Url.Content(item.Image1)" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/p5.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            @*@foreach (var item in Model)
                                {*@
                            <div class="women">
                                @Html.ActionLink("Xem sản phẩm", "Details", new { id = item.Id }) |
                                <h6><a href="Details.html">@Html.DisplayFor(modelItem => item.Name)</a></h6>
                                @*<span class="size">XL / XXL / S </span>*@
                                @if (item.Discount != 0)
                                {
                                    PriceNow = item.Price * (100 - item.Discount) / 100;
                                    <h4>$@PriceNow</h4>
                                    <p><del>@Html.DisplayFor(modelItem => item.Price)</del><em class="item_price"> @Html.DisplayFor(modelItem => item.Discount)% </em></p>
                                }
                                else
                                {
                                    <h4>$@item.Price</h4>
                                }
                                <a href=@Url.Action("AddToCart","Cart_Checkout",new {p=item}) data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                @*@Html.ActionLink("AddToCart","AddToCart","Cart_Checkout",new {p=item},null);*@
                                @*<input type="button" name="AddToCart" value="Add To Cart" class="btn btn-primary" itemid="@item.Id" id="btnAddToCart" onclick="AddToCart"*@
                            </div>
                            @*@Html.DisplayFor(modelItem => item.Id)*@



                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>*@
                            @*@Html.Partial("ProductSummary", item);*@

                            @*}*@

                        </div>
                    </div>
                    @*<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                            <div class="grid-arr">
                                <div class="grid-arrival">
                                    <figure>
                                        <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                            <div class="grid-img">
                                                <img src="images/p21.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="grid-img">
                                                <img src="images/p22.jpg" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div>
                                </div>
                                <div class="women">
                                    <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                    <span class="size">XL / XXL / S </span>
                                    <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                    <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                            <div class="grid-arr">
                                <div class="grid-arrival">
                                    <figure>
                                        <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                            <div class="grid-img">
                                                <img src="images/p14.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="grid-img">
                                                <img src="images/p13.jpg" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div>
                                </div>
                                <div class="women">
                                    <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                    <span class="size">XL / XXL / S </span>
                                    <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                    <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="clearfix"></div>*@

                </div>}
            @*<div class="product-tab prod1">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i1.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i4.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i3.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i6.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i5.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-tab">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i8.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i7.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i10.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i9.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i12.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i11.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-tab prod2">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i8.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i7.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i14.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i13.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i1.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
        </div>
        @*<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                <div class="product-tab1">
                    <div class="col-md-4 product-tab1-grid">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/p6.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/p5.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-tab1 prod3">
                    <div class="col-md-4 product-tab1-grid">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i1.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-tab1">
                    <div class="col-md-4 product-tab1-grid">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i4.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i3.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-tab1 prod3">
                    <div class="col-md-4 product-tab1-grid">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i6.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i5.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-tab1">
                    <div class="col-md-4 product-tab1-grid">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="images/i8.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/i7.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. </p>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>*@
    </div>
</ul>

