@*@model IEnumerable<BachHoaXanh.Data.Models.Product>*@
@model PagedList.IPagedList<BachHoaXanh.Data.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal PriceNow=0;
}
<h2>@ViewBag.Classify</h2>
<link href="~/Content/css/style.css" rel="stylesheet" />

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<form action="/Products/Index/?id=@Model.FirstOrDefault().ClassifyId?tieuchuanloc=giagiam" method="get">
        Sắp xếp theo <select name="tieuchuanloc">
            <option value="giagiam">Giá giảm dần</option>
            <option value="giatang">Giá tăng dần</option>
        </select>
        <input type="submit" value="Lọc" class="btn-btn-danger">
    </form>*@
<div>
    @Html.ActionLink("Sắp xếp theo", "Index", new { id = Model.FirstOrDefault().ClassifyId, tieuchuanloc = ViewBag.PriceSortParm })  @ViewBag.tieuchuan
</div>
@*

    @foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item.Id)
        <!--<td>
            @Html.DisplayFor(modelItem => item.Provider.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    @Html.Partial("ProductSummary", item);*@
<ul id="myTab" class="nav1 nav1-tabs left-tab" role="tablist">
    @*<ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><img src="images/menu1.png"></a></li>
            <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img src="images/menu.png"></a></li>
        </ul>*@
    <div id="myTabContent" class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
            @foreach (var item in Model)
            {
                //var price = item.Price - item.Discount * item.Price / 100; //LINH LÀM RỒI, TẠM BỎ
                <div class="product-tab">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                            <img src="@Url.Content(item.Image1)" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="images/p5.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                                @Html.ActionLink("Xem sản phẩm", "Details", new { id = item.Id }) |
                                <h6><a href="Details.html">@Html.DisplayFor(modelItem => item.Name)</a></h6>
                                @*<span class="size">XL / XXL / S </span>*@
                                @if (item.Discount != 0)
                                {
                                    PriceNow = item.Price * (100 - item.Discount) / 100;
                                    <h4>$@PriceNow</h4>
                                    <p><del>@Html.DisplayFor(modelItem => item.Price)</del><em class="item_price"> @Html.DisplayFor(modelItem => item.Discount)% </em></p>

                                }
                                else
                                {
                                    <h4>$@item.Price</h4>
                                }

                                @if (item.Amount > 0)
                                {
                                    using (Html.BeginForm("AddToCart", "Products", new { id = item.Id }, FormMethod.Post))
                                    {
                                        <button type="submit" class="pull-left"><i class="fa fa-shopping-cart"></i> </button>

                                    }
                                }

                                else
                                {
                                    <a class="right" href="#"><i class="fa fa-shopping-cart"></i> </a>
                                    <p>Hết Hàng</p>
                                }


                                @*@Html.DisplayFor(modelItem => item.Id)*@



                                @*<td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>*@
                                @*@Html.Partial("ProductSummary", item);*@

                                @*}*@

                            </div>
                        </div>

                    </div>

                </div>
            }


        </div>

    </div>
  

</ul>
@if (ViewBag.All == 0)
{<ol class="flex-control-nav flex-control-paging">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", "Products", new { page, id = Model.FirstOrDefault().ClassifyId, tieuchuanloc = ViewBag.PriceSortParm }))
    </ol>
}
else
{
    <ol class="flex-control-nav flex-control-paging">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", "Products", new { page, tieuchuanloc = ViewBag.PriceSortParm }))
    </ol>
}
