@model IEnumerable<BachHoaXanh.Data.Models.DetailsOfInvoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <input name="InvoicedId" />
    <input name="ProviderId" />
    for (int i = 0; i < 10; i++)
    {
        <h2>Thông tin sản phẩm @i</h2>
        <input name="@Url.Content("["+i+"].ProductId")" value="@i" />
        <br />
        <input name="@Url.Content("["+i+"].Price")" value="@i" />
        <br />
        <input name="@Url.Content("["+i+"].Amount")" value="@i" />
        <br />

        <input type="submit" value="Accept"/>

    }
}

